.header {
    background: #dcdcdc;
    height: 230px;
}

.header__contact-div {
    float: right;
}

.header__contact-number {
    font-family: 'Open Sans Condensed';
    color: #767676;
    font-size: 40px;
    margin: 0;
}

.header__contact-return {
    font-family: 'PT Sans';
    color: #767676;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px dashed #767676;
    font-size: 24px;
    float: right;
}
.lg{
    background: greenyellow;
    width:273px;
    height:100px;
    border: 1px solid black;
    display: block;
}