.Menu{
    background: #cacaca;
    padding: 20px;
    margin: 0;
}
.Item{
    display: inline-block;


}
.Item a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    background: #9da0a4;
    margin: 5px;
}