.footer {
    height: 120px;
    background: #767676;
    padding-top: 3%
}

.footer__foot-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.footer__box1 {
    width: 20%
}

.footer__box3 {
    width: 18%
}

.footer__text {
    color: #FFFFFF;
    font-size: 14px
}

.footer--for-logo {
    position: relative
}

.footer--for-logo::before {
    content: "";
    width: 38px;
    height: 38px;
    display: inline-block;

    position: absolute;
    left: -40px;
}

.footer__link {
    color: #FFFFFF;
    font-size: 14px
}

.footer__list-item {
    line-height: 25px;
    list-style-type: none
}


